<footer>
    <% if (typeof showFooter === 'undefined' || showFooter) { %>
        <div class="f-info bg">
            <div class="f-info-social">
                <a href="https://github.com/Ritesh-2120" style="text-decoration: none; color: inherit;">
                    <i class="fa-brands fa-github"></i>
                </a>                
                <a href="https://www.instagram.com/ritesh_vns14/" style="text-decoration: none; color: inherit;"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ritesh-yadav-351571162/" style="text-decoration: none; color: inherit;"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="f-info-brand">
                &copy;YatraBuddy Private Limited
            </div>
        </div>
    <% } %>
</footer>
