<% layout("/layouts/boilerplate.ejs") %>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="content">
        <h1>Discover Your Next Adventure with<br><span>AI: Personalized Itineraries at Your Fingertips</span></h1>
        <p>Your personal trip planner and travel curator, creating custom itineraries tailored to your interests and budget.</p>
        <a href="/listing">
            <button class="mybtn">UP Tourism</button>
        </a>
        <a href="/itinerary-form">
        <button class="m-3 mybtn">Plan Iternary(AI)</button>
        </a>
        <a href="/slider">
            <button class="mybtn">Explore</button>
        </a>
    </div>

</body>
</html>