<% layout("/layouts/boilerplate.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/slider.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
  </head>
  <body>

    <div>
      <section>
      <div class="container">
        <div class="slide">
          <div
          class="item"
          style="background-image: url(https://d2rdhxfof4qmbb.cloudfront.net/wp-content/uploads/20190312112932/Shikara-boats-on-Dal-lake-Srinagar.jpg)"
          >
          <div class="content">
            <div class="name">Dal Lake</div>
              <div class="des">
                A freshwater lake surrounded by snow-capped mountains, where you can take a shikara ride or enjoy the floating market 
              </div>
              <button>See More</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Dal_Lake_Hazratbal_Srinagar.jpg)"
          >
            <div class="content">
              <div class="name">Gulmarg</div>
              <div class="des">
                A meadow town known for its winter sports and the world's second-largest and highest cable car ride, the Gulmarg Gondola
              </div>
              <button>See More</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(/images/tulipgarden.jpg)"
            >
            <div class="content">
              <div class="name">Indira Gandhi Tulip Garden</div>
              <div class="des">
                A colorful garden with tulips in many hues, ideal for visiting in late March or early April 
              </div>
              <button>See More</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(/images/apharwatpeak.jpg)"
          >
            <div class="content">
              <div class="name">Apharwat Peak</div>
              <div class="des">
                A winter wonderland with year-round snow, where you can ski, sled, or take a gondola ride for panoramic mountain views 
              </div>
              <button>See More</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(/images/bettabvalley.jpg)"
            >
            <div class="content">
              <div class="name">Betaab Valley</div>
              <div class="des">
                A nature and wildlife area with lush meadows, snow-capped mountains, and tranquil river scenes, ideal for nature walks or horseback exploration 
              </div>
              <button>See More</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(/images/Srinagar.jpg)"
          >
            <div class="content">
              <div class="name">Srinagar</div>
              <div class="des">
                A city with a historic Mughal garden, ancient Chinar trees, colorful flower beds, and serene water fountains
              </div>
              <button>See More</button>
            </div>
          </div>
        </div>

        <div class="button">
          <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
          <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </section>
  </div>
  <script src="/js/slider.js"></script>
  
</body>
</html>  
