<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h3 class="heading">Enter Details to Add Item in List</h3>
                <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="listing[title]" placeholder="Add a Catchy Title" class="form-control" required>
                        <div class="valid-feedback">Verified</div>
                        <div class="invalid-feedback">Please enter a Title.</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
                        <div class="valid-feedback">Verified</div>
                        <div class="invalid-feedback">Please enter a message in the textarea.</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image:</label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
                        <div class="valid-feedback">Verified</div>
                        <div class="invalid-feedback">Please enter location.</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <label for="price" class="form-label">Price:</label>
                            <input type="string" name="listing[price]" placeholder="Enter price" class="form-control" required>
                            <div class="valid-feedback">Verified</div>
                            <div class="invalid-feedback">Please enter price.</div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="country" class="form-label">Country:</label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                            <div class="valid-feedback">Verified</div>
                            <div class="invalid-feedback">Please enter a Country name.</div>
                        </div>
                    </div>
                    <button class="btn btn-dark mb-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
